BINANCE_API=https://api.binance.com/api/v3
BINANCE_FUTURES_API=https://fapi.binance.com
MEXC_FUTURES_API=https://contract.mexc.com/api/v1
COINSTATS_API=https://openapiv1.coinstats.app
COINSTATS_API_KEY=replace-me
ETH_API=https://api.etherscan.io/v2/api
ETH_KEY=replace-me
